rawww-player {
    display: block;
    width: 800px;
    --track-height: 12px;
    --track-color: rgb(255, 115, 0);
}
rawww-player video {
    width: 100%;
    height: 100%;
}
rawww-player button {
    appearance: none;
}
rawww-player .time-display::after {
    content: attr(data-duration);
}
rawww-player .track {
    position: relative;
    flex: 1;
    height: var(--track-height);
    --playback-width: 0;
    --preload-x: 0;
    --preload-width: 0;
}
rawww-player .track::after /* playback */ {
    content: "";
    position: absolute;
    inset: var(--track-height) 0 calc(var(--track-height) * -1);
    transform-origin: left;
    transform: scaleX(var(--playback-width));
    background-color: var(--track-color);
}
rawww-player .track::before /* preload */ {
    content: "";
    position: absolute;
    inset: 0;
    transform-origin: left;
    transform: translateX(var(--preload-x)) scaleX(var(--preload-width));
    background-color: grey;
}