rawww-player {
    position: relative;
    width: 800px;
    display: grid;
    grid-auto-rows: auto;
    background: black;

}
rawww-player video {
    display: block;
    width: 100%;
    height: auto;
    background: none;
}
rawww-player video::-webkit-media-controls {
    display: none !important;
}

rawww-player button {
    appearance: none;
}
rawww-player .controls {
    height: 100%;
    font-family: sans-serif;
}
rawww-player .time-display {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
rawww-player .time-display::after {
    content: attr(data-duration);
}